@tailwind base;
@tailwind components;
@tailwind utilities;

.x-pad {
  @apply px-[18px] md:px-[24px] lg:px-[36px];
}

.aspect-height {
  height: calc(33vw * 1.49);
}

/* .warpper {
  position: relative;
  width: 180px;
  height: 180px;
  padding: 0;
  overflow: hidden;
}

.frame {
  position: absolute;
  width: 800px;
  height: 520px;
  border: 1px solid black;
  origin: 0 0;
  translate: 0 0;
}

.frame {
  -ms-zoom: 0.2;
  -moz-transform: scale(0.2);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.2);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.2);
  -webkit-transform-origin: 0 0;
} */
