@tailwind base;
@tailwind components;
@tailwind utilities;



.x-pad {
  @apply px-[18px] md:px-[24px] lg:px-[36px]
}


.aspect-height {
  height: calc(33vw * 1.49);
}


.iframe-container {
  width: 154px; /* Set the desired width */
  height: 96px; /* Set the desired height */
  overflow: hidden; /* Hide overflow content */
  position: relative;
}

.scaled-iframe {
  width: 1440px; /* Original width of the iframe content */
  height: 1000px; /* Original height of the iframe content */
  transform: scale(0.105); /* Adjust the scale as needed */
  transform-origin: 0 0; /* Transform from the top left */
  position: absolute;
}
